<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'> 
<% end %>

<%= form_with(model: property, local: true) do |form| %>
  <% if property.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(property.errors.count, "error") %> prohibited this property from being saved:</h2>

      <ul>
        <% property.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

<%# The review below has to be singular %>

<!-- <%= form.fields_for :review do |r| %>

    <%= r.label :stayed_from%>
    <%= r.date_field :stayed_from %>

    <%= r.label :stayed_to%>
    <%= r.date_field :stayed_to %>

    <%= r.label :review%>
    <%= r.text_area :body %>

  <% end %> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %> 




