<p id="notice"><%= notice %></p>

<div class="container">
  <div class="container-custom grey-border p-3">
    <div id="carousel-indicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
          <% @properties.each_with_index do |property, i| %>
        <div class="carousel-item <%= 'active' if i == 0%>">
          <% if property.errors.any? %>
            <div id="errors">
              <h3><%= pluralize(property.errors.count, "error") %> ..something went wrong </h3>
            </div>
            <ul>
              <% property.errors.full_messages.each do |msg| %>
                <li> <%= msg %></li>
              <% end %>
            </ul>
              <% end %>

          <h5>Address: </h5><h4><%= link_to property.address, property %></h4>

          <!-- Read Only Rating -->
          <div class="container">
            <div class="row text-warning" >
              Rating:&nbsp <%= rating_for property, "property_score",
              readOnly: true,
              path: 'star_icons',
              enable_half: true,
              cancel_place: 'right'
              %>
            </div>
          </div>

              <!-- Show the author, update and created timestamps -->

          <div class="text-secondary">Created <%= time_ago_in_words(property.created_at) %> ago, 
            by  <%= property.user_id  && property.user.nickname%>. 
            <% if property.updated_at != property.created_at %> <!-- Showing updates only when updates are made -->
            Edited <%= time_ago_in_words(property.updated_at)%> ago
            <% end%>
          </div>

          <p class="text-light"><%= property.reviews.count %> Reviews</p>

          <% if property.reviews.present? %>
            <div class="fixed-container">
              <div class="container-content">
                <% property.reviews.limit(3).order("created_at DESC").each do |review| %>
                
                    <div class ="text-info grey-border">
                      <span> Rented between: <%= review.stayed_from.strftime('%b, %Y') %></span>
                      <span> - <%= review.stayed_to.strftime('%b, %Y') %></span>
                      <div>
                        <span class="text-warning"><%= review.user_id  && review.user.nickname%>:
                          <span class="text-light"><%= excerpt(review.body, '', radius: 70) %></span>
                        </span>
                        
                      </div>
                      <span class="text-primary" style="font-size: 13px;"><%= time_ago_in_words(review.created_at) %> ago</span>
                    </div>
                <% end %>
              </div>
            </div>
          <% else %>
            <h4>No reviews yet</h4>
          <% end %>

          <%= link_to 'Leave a review', property_path(property) %>

          <hr>

          <% if user_signed_in? %>
              <span class="small"><%= link_to 'Edit', edit_property_path(property) %></span>
              <span class="small"><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></span>
          <% end %>

        </div>
          <% end %>
            
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track": false %> 
