<p id="notice"><%= notice %></p>

<p>
<strong>Address:</strong>
  <%= @property.address %>
</p>

<%# Render the reviews %>

<p> <%= @property.reviews.count %> Reviews </p>
<% if @property.reviews.present? %>
  <%= render @property.reviews%>
<% else %>
  <h4>No reviews yet</h4>
<% end %>

<% if current_user %>
      Property Rating: <%= rating_for @property, "property_score",
      disable_after_rate: false,
      cancel_place: 'right',
      path: 'star_icons',
      enable_half: true,
      half_show: true
     
      %>
    <% end %>

<%# Render the form for reviews %>
<h4> Leave a review: </h4>
<%= render "reviews/form" %>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>

<%= javascript_include_tag 'ratyrate.js', "data-turbolinks-track": false %> 