<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @review.body %>
</p>

<p>
  <strong>Stayed from:</strong>
  <%= @review.stayed_from %>
</p>

<p>
  <strong>Stayed to:</strong>
  <%= @review.stayed_to %>
</p>

<p>
  <strong>Property:</strong>
  <%= @review.property_id %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>



