<% provide :head_tags do %>
    <meta name='turbolinks-visit-control' content='reload'> 
<% end %>

<nav class="navbar navbar-expand-lg navbar-light nav-color sticky-top">
  <div class='container-fluid'>
    <%= link_to 'Home', root_path, class: 'navbar-brand home'%>
    <button class="custom-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <%= link_to 'Find Property', new_property_path, class:'btn' %>
        <%= form_with url: search_path, local:true, method: :get, html: {class: "form-inline my-2 my-lg-0 mx-auto"} do |form| %>
          <%= form.text_field :q, placeholder: "Search property", data: {behavior: "autocomplete"}, class: "form-control mr-sm-2" %>
          <%= form.button "Search", class: "btn btn-outline-light my-2 my-sm-0" %>
        <% end %>
      <ul class="nav navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span>Logged in as <%= current_user.nickname %></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'My Profile', edit_user_registration_path, class: 'dropdown-item text-secondary' %>
          <a class="dropdown-item text-secondary" href="#">History</a>
          <div class="dropdown-divider"></div>
          <div><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'dropdown-item text-secondary' %>            
        </div>
      </li>
      </ul>
    </div>
  </div>
</nav>      
