<!DOCTYPE html>
<html>
  <head>
    <title>PropertyHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# when the app runs in production the stylesheet_pack_tag will export all the JS and CSS into one JS file  %>
    <%# by doing this the webpack webserver will reload all your CSS // it will load the stylesheets correctly %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  
  <body>

    <%= render 'layouts/navbar'%>

    <div class='container-fluid'>
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="hero-img"><%= image_tag('house.webp', size:"300x250") %></div>
            </div>
              <div class="col m-4">
                <h3 class="red-text">Welcome to RentalProperty Hub</h3><br>
                <h5 class="text-shadow">Sed ut perspiciatis unde omnis iste natus.</h5>
              <div>
          </div>
        </div>
    
      <%= yield %>
    </div>
    
  </body>
</html>

