<!DOCTYPE html>
<html>
  <head>
    <title>PropertyHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# when the app runs in production the stylesheet_pack_tag will export all the JS and CSS into one JS file  %>
    <%# by doing this the webpack webserver will reload all your CSS // it will load the stylesheets correctly %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

    <% provide :head_tags do %>
      <meta name='turbolinks-visit-control' content='reload'> 
    <% end %>
    <%= yield(:head_tags) %>
  </head>
  
  <body>

    <%= render 'layouts/navbar'%>

    <div class='container-fluid'> 
      <%= yield %>
    </div>
    
  </body>
</html>

